<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-md-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("Clientes")}}</span>
                </h3>
                <span class="m-section__sub">
                    {{l("ClientesHeaderInfo")}}
                </span>
            </div>
            <div class="col-md-6 text-right">
                    <button class="btn btn-outline-success" (click)="addFiles()">
                            <input #file type="file" class="display-none" accept=".xlsx,.xls,.csv"
                                (change)="onFileChange($event)"><i class="fa fa-file-excel"></i>
                            {{l("ImpoExcel")}}</button>
				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.Clientes.Create')" (click)="createCliente()" 
			class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewCliente")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

				<form class="horizontal-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getClientes()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row m--margin-bottom-10" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="m-separator m-separator--dashed"></div>
						     </div>


							<div class="col-md-3">
								<div class="form-group">
									<label for="ID_CLIENTEFilter">{{l("ID_CLIENTE")}}</label>
									<input type="text" class="form-control" id="ID_CLIENTEFilter" name="iD_CLIENTEFilter" [(ngModel)]="iD_CLIENTEFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="NOMBRE_CLIENTEFilter">{{l("NOMBRE_CLIENTE")}}</label>
									<input type="text" class="form-control" id="NOMBRE_CLIENTEFilter" name="nombrE_CLIENTEFilter" [(ngModel)]="nombrE_CLIENTEFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="APELLIDO_CLIENTEFilter">{{l("APELLIDO_CLIENTE")}}</label>
									<input type="text" class="form-control" id="APELLIDO_CLIENTEFilter" name="apellidO_CLIENTEFilter" [(ngModel)]="apellidO_CLIENTEFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<label for="GENERO_CLIENTEFilterSelect">{{l("GENERO_CLIENTE")}}</label>
								<select class="form-control" name="GENERO_CLIENTEFilter" id="GENERO_CLIENTEFilterSelect" [(ngModel)]="generO_CLIENTEFilter">
								<option value="-1">{{l("All")}}</option>
																			<option value="0">{{l('Masculino')}}</option>

										<option value="1">{{l('Femenino')}}</option>


								</select>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label  for="MinFECHA_CLIENTEFilter">{{l("MinMax")}} {{l("FECHA_CLIENTE")}}</label>
									<div class="input-group">
                                        <input class="form-control m-input" id="MinFECHA_CLIENTEFilter" name="MinFECHA_CLIENTEFilter" type="datetime" bsDatepicker  placeholder="{{l('MinValue')}}" [(ngModel)]="minFECHA_CLIENTEFilter">
                                        <input class="form-control m-input" id="MaxFECHA_CLIENTEFilter" name="MaxFECHA_CLIENTEFilter" type="datetime" bsDatepicker  placeholder="{{l('MaxValue')}}" [(ngModel)]="maxFECHA_CLIENTEFilter">
									</div>
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="CELULAR_CLIENTEFilter">{{l("CELULAR_CLIENTE")}}</label>
									<input type="text" class="form-control" id="CELULAR_CLIENTEFilter" name="celulaR_CLIENTEFilter" [(ngModel)]="celulaR_CLIENTEFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="DIRECCION_CLIENTEFilter">{{l("DIRECCION_CLIENTE")}}</label>
									<input type="text" class="form-control" id="DIRECCION_CLIENTEFilter" name="direccioN_CLIENTEFilter" [(ngModel)]="direccioN_CLIENTEFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="DEPARTAMENTO_CLIENTEFilter">{{l("DEPARTAMENTO_CLIENTE")}}</label>
									<input type="text" class="form-control" id="DEPARTAMENTO_CLIENTEFilter" name="departamentO_CLIENTEFilter" [(ngModel)]="departamentO_CLIENTEFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="MUNICIPIO_CLIENTEFilter">{{l("MUNICIPIO_CLIENTE")}}</label>
									<input type="text" class="form-control" id="MUNICIPIO_CLIENTEFilter" name="municipiO_CLIENTEFilter" [(ngModel)]="municipiO_CLIENTEFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="EMPRESA_CLIENTEFilter">{{l("EMPRESA_CLIENTE")}}</label>
									<input type="text" class="form-control" id="EMPRESA_CLIENTEFilter" name="empresA_CLIENTEFilter" [(ngModel)]="empresA_CLIENTEFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="PROFESION_CLIENTEFilter">{{l("PROFESION_CLIENTE")}}</label>
									<input type="text" class="form-control" id="PROFESION_CLIENTEFilter" name="profesioN_CLIENTEFilter" [(ngModel)]="profesioN_CLIENTEFilter">
								</div>
                            </div>

                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getClientes($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.Clientes.Edit', 'Pages.Clientes.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="cliente.iD_CLIENTE">
                                        {{l('ID_CLIENTE')}}
                                        <p-sortIcon field="cliente.iD_CLIENTE"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="cliente.nombrE_CLIENTE">
                                        {{l('NOMBRE_CLIENTE')}}
                                        <p-sortIcon field="cliente.nombrE_CLIENTE"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="cliente.apellidO_CLIENTE">
                                        {{l('APELLIDO_CLIENTE')}}
                                        <p-sortIcon field="cliente.apellidO_CLIENTE"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="cliente.generO_CLIENTE">
                                        {{l('GENERO_CLIENTE')}}
                                        <p-sortIcon field="cliente.generO_CLIENTE"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="cliente.fechA_CLIENTE">
                                        {{l('FECHA_CLIENTE')}}
                                        <p-sortIcon field="cliente.fechA_CLIENTE"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="cliente.celulaR_CLIENTE">
                                        {{l('CELULAR_CLIENTE')}}
                                        <p-sortIcon field="cliente.celulaR_CLIENTE"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="cliente.direccioN_CLIENTE">
                                        {{l('DIRECCION_CLIENTE')}}
                                        <p-sortIcon field="cliente.direccioN_CLIENTE"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="cliente.departamentO_CLIENTE">
                                        {{l('DEPARTAMENTO_CLIENTE')}}
                                        <p-sortIcon field="cliente.departamentO_CLIENTE"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="cliente.municipiO_CLIENTE">
                                        {{l('MUNICIPIO_CLIENTE')}}
                                        <p-sortIcon field="cliente.municipiO_CLIENTE"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="cliente.empresA_CLIENTE">
                                        {{l('EMPRESA_CLIENTE')}}
                                        <p-sortIcon field="cliente.empresA_CLIENTE"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="cliente.profesioN_CLIENTE">
                                        {{l('PROFESION_CLIENTE')}}
                                        <p-sortIcon field="cliente.profesioN_CLIENTE"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.Clientes.Edit', 'Pages.Clientes.Delete')">
                                       <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>
												<li>
													<a href="javascript:;"
														(click)="viewClienteModal.show(record)">{{l('View')}}</a>
												</li>
												<li>
													<a href="javascript:;" *ngIf="permission.isGranted('Pages.Clientes.Edit')"
														(click)="createOrEditClienteModal.show(record.cliente.id)">{{l('Edit')}}</a>
												</li>
												<li>
											        <a href="javascript:;" *ngIf="permission.isGranted('Pages.Clientes.Delete')"
														(click)="deleteCliente(record.cliente)">{{l('Delete')}}</a>
												</li>
                                                <li>
                                                    <a href="javascript:;" *ngIf="entityHistoryEnabled"
                                                       (click)="showHistory(record.cliente)">{{l('History')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('ID_CLIENTE')}}</span>
											{{record.cliente.iD_CLIENTE}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('NOMBRE_CLIENTE')}}</span>
											{{record.cliente.nombrE_CLIENTE}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('APELLIDO_CLIENTE')}}</span>
											{{record.cliente.apellidO_CLIENTE}}
										</td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('GENERO_CLIENTE')}}</span>
										{{l( generos[record.cliente.generO_CLIENTE])}}
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('FECHA_CLIENTE')}}</span>
                                        <span *ngIf="record.cliente.fechA_CLIENTE">
											{{record.cliente.fechA_CLIENTE | momentFormat:'L'}}
                                        </span>
                                        <span *ngIf="!record.cliente.fechA_CLIENTE">-</span>
                                    </td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('CELULAR_CLIENTE')}}</span>
											{{record.cliente.celulaR_CLIENTE}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('DIRECCION_CLIENTE')}}</span>
											{{record.cliente.direccioN_CLIENTE}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('DEPARTAMENTO_CLIENTE')}}</span>
											{{record.cliente.departamentO_CLIENTE}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('MUNICIPIO_CLIENTE')}}</span>
											{{record.cliente.municipiO_CLIENTE}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('EMPRESA_CLIENTE')}}</span>
											{{record.cliente.empresA_CLIENTE}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('PROFESION_CLIENTE')}}</span>
											{{record.cliente.profesioN_CLIENTE}}
										</td>

                                </tr>
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                         #paginator
                                         (onPageChange)="getClientes($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditClienteModal #createOrEditClienteModal (modalSave)="getClientes()"></createOrEditClienteModal>
    <viewClienteModal #viewClienteModal></viewClienteModal>
     <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
</div>